<h2>Flash Cards</h2>

<div class="row">
    <div class="col-md-2">
        <input type="submit" id="getNextRandomButton" class="btn btn-default" value="Get Next Random" />
        </div>
    <div class="col-md-2">
        <input type="submit" id="showAnswer" class="btn btn-default" value="Show Answer" />
    </div>
</div>
<div class="row">
    <div id="question" class="col-md-12" style="border:1px solid, red;height:100px"></div>    
</div>
<div class="row">
    <div id="answer" class="col-md-12" style="border:1px solid, red;height:200px;display:none;word-wrap:break-word;overflow-y:scroll"></div>
</div>

<div class="row">
    <div class="col-md-2">
        <input type="text" placeholder="Delete Password" id="deleteQuestionPassword" />
    </div>
    <div class="col-md-2">
        <input type="submit" id="deleteQuestion" class="btn btn-default" value="Delete Question" />
    </div>    
</div>

